@page
@model eUcionica.Pages.Testovi.TestoviModel
@{
    ViewData["Title"] = "Testovi";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h2>Izaberite predmet i oblast za test</h2>
<div class="row">
    <div class="col-md-2">
        <form method="post" enctype="multipart/form-data" asp-page-handler="SelectSubject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="row">
                    <label id="predmet_lab" for="PredmetID">Izaberite predmet:</label>
                    <select id="PredmetID" asp-items="Model.MoguciPredmeti" class="form-control" name="izabraniPredmet"></select>
                
                    <label id="oblast_lab" for="OblastID">Izaberite oblast:</label>
                    <select id="OblastID" asp-items="Model.MoguceOblasti" class="form-control" name="izabranaOblast"></select>
                </div>
                <br>
                <div>
                    <button type="submit" class="btn btn-secondary">Napravite test</button>
                </div>
            </div>
        </form>
    </div>
</div>