@page
@model eUcionica.Pages.Testovi.TestModel
@{
    ViewData["Title"] = "Generisan Test";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
    <form method="post" enctype="multipart/form-data" asp-page-handler="SubmitTest">
        <div>
            @if (Model.OdabranaPitanja != null)
            {
                <h2>Test</h2>
                <h4>Morate odgovoriti na sva pitanja</h4>

                <ul>
                    @for (var i = 0; i < Model.OdabranaPitanja.Count; i++)
                    {
                        <div>
                            <label>@(i + 1). @Model.OdabranaPitanja[i].Tekst</label>
                            <dd class="col-sm-4">
                                @if (Model.OdabranaPitanja[i].Slika != null)
                                {
                                    <img class="block" src="~/slike/@Model.OdabranaPitanja[i].Slika" alt="" width="auto" height="100" />
                                }
                            </dd>
                            <input type="text" id="answer_@(i)" name="odgovori" class="form-control" />
                            @{
                                var correctAnswer = Model.OdabranaPitanja[i].Odgovor;
                            }
                            <input type="hidden" name="TacniOdgovori[@i]" value='@correctAnswer' />
                        </div>
                    }
                </ul>
            }
        </div>
            <div>
            <button type="button" class="btn btn-secondary" onclick="zavrsiTest()">Kraj testa</button>
            </div>
            <br>
            <div>
            <button type="submit" class="btn btn-secondary" >Napravite novi test</button>
            </div>
    </form>
        
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        var nizTacnihOdgovora = Json.Serialize(Model.OdabranaPitanja.Select(q => q.Odgovor).ToArray());
    }

    <script>
       

        var tacniOdgovori = JSON.parse('@Html.Raw(nizTacnihOdgovora)');
        async function zavrsiTest() {

            var tacni = 0;
            var nije = 0;
            for (var i = 0; i < @Model.OdabranaPitanja.Count; i++) {
                var odg = document.getElementById(`answer_${i}`).value;
                if (odg === '') nije = 1;



                var tacanOdgovor = tacniOdgovori[i];

                if (odg.toLowerCase() == tacanOdgovor.toLowerCase()) tacni++

            }


            if (nije != 1) {
                alert(`Odgovorili ste tacno na ${tacni} od ${@Model.OdabranaPitanja.Count} pitanja.`);
            } else {
                alert('Morate odgovoriti na sva pitanja!');
            }
        }
    </script>
}