@page
@model eUcionica.Pages.Pitanja.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Dodaj novo pitanje</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pitanje.PredmetID" class="control-label">Predmet</label>
                <select asp-for="Pitanje.PredmetID" class ="form-control" asp-items="ViewBag.PredmetID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Pitanje.OblastID" class="control-label">Oblast</label>
                <select asp-for="Pitanje.OblastID" class ="form-control" asp-items="ViewBag.OblastID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Pitanje.NivoID" class="control-label">Nivo</label>
                <select asp-for="Pitanje.NivoID" class ="form-control" asp-items="ViewBag.NivoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Pitanje.Tekst" class="control-label"></label>
                <input asp-for="Pitanje.Tekst" class="form-control" />
                <span asp-validation-for="Pitanje.Tekst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pitanje.Odgovor" class="control-label"></label>
                <input asp-for="Pitanje.Odgovor" class="form-control" />
                <span asp-validation-for="Pitanje.Odgovor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Slika</label>
                <input type="file" asp-for="Upload" class="form-control" method="post" />
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Pitanja">Nazad</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
