@page
@model eUcionica.Pages.Predmeti.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Detalji</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Predmet.Naziv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Predmet.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Predmet?.PredmetID">Uredi</a> |
    <a asp-page="./Predmeti">Nazad</a>
</div>
