@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli na našu eUčionicu</h1>
    <h3 class="display-8">Zadaci i testovi iz svih predmeta i oblasti</h3>
    <p>Za listu predmeta kliknite <a href="/Predmeti/Predmeti">ovde</a>.</p>
    <p>Za listu oblasti iz predmeta kliknite <a href="/Oblasti/Oblasti">ovde</a>.</p>
    <p>Za listu tezine pitanja kliknite <a href="/Nivoi/Nivoi">ovde</a>.</p>
    <p>Listu svih pitanja mozete pogledati <a href="/Pitanja/Pitanja">ovde</a>.</p>
    <p>Da zapocnete test kliknite <a href="/Testovi/IzborTesta">ovde</a>.</p>

</div>
